body {
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    /* outline: 4px solid red; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(8px);
    border-radius: 10px;;
}

.resultsModal {
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: lightblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    text-align: center;
}