body {
    background-image: url('./assets/background4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    /* outline: 4px solid red; */
    font-family: 'DM Sans', sans-serif;
}

button {
    cursor: pointer;
}

ul {
    padding-inline-start: 0;
}

.container {
    align-items: center;
    width: 40%;
    margin: auto;
    align-content: center;
    height: 80vh;
}

.resultsModal {
    margin: auto;
    padding: 10px 10px;
    color: white;
    border: 1px solid rgba(255, 255, 255, .1);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(8px);
    border-radius: 10px;
}

.start {
    border: none;
    border-radius: 10px;
    padding: 1em;
    width: 90%;
    background-color: rgba(157, 198, 233, 0.516);
    color: white;
    font-size: 18px;
}

.fa-xmark {
    position: relative;
    left: 1rem;
    bottom: .5rem;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.resultsModal ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    margin-top: 2rem;
}
#location-search, .fa-magnifying-glass, .fa-circle-xmark {
    position: relative;
    top: 1.5rem;
}
[class*="result-"] {
    border: none;
    margin: 5px 0px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(8px);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 80%;
    text-align: center;
}

.searchContainer {
    /* display: flex;
    flex-direction: column; */
    margin: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    text-align: center;
    height: 250px;
    align-content: center;
}

.weatherResults {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    /* font-weight: bold; */
    height: 90vh;
    overflow-y: scroll;
}

/* .weatherResults ul {
    position: relative;
    bottom: 10%;
    font-size: 4rem;
} */

.weatherResults li {
    list-style: none;
    border: none;
    margin: 5px 0px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, .1); */
    /* backdrop-filter: blur(.1px); */
    color: white;
    font-size: 16px;
    /* font-weight: bold; */
    text-align: center;
}

#location-search {
    margin: 5px 0px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 50px;
    background-color: rgba(52, 52, 52, 0.1);
    /* backdrop-filter: blur(8px); */
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 80%;
    text-align: center;
    position: relative;
    left: 1.85rem;
}

.fa-magnifying-glass {
    position: relative;
    right: 74%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

[class*="circle-xmark"] {
    position: relative;
    right: 4%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.hourly {
    border: none;
    margin: 5px 0px;
    padding: 5px 0px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, .1); */
    /* backdrop-filter: blur(.1px); */
    color: white;
    font-size: 16px;
    /* font-weight: bold; */
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 80%;
    position: relative;
    overflow-x: scroll;
    overflow-y: visible;
    min-height: 6rem;
}

.forecast {
    width: 80%;
    position: relative;
    bottom: 10%;
    font-size: 4rem;
    margin-bottom: none;
}

.hourly li {
    border-left: none;
    border-right: 1px solid rgba(255, 255, 255, .1);
    border-top: none;
    border-bottom: none;
    border-radius: 0;
}

.back {
    position: relative;
    right: 40%;
    margin: 15px 15px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 10%;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
}